header {
  height: 345px;
  background-color: #202226;
  width: 100%;
  min-width: 1638px;
}
.wrapper-header > span {
  position: absolute;
  right: 43.99%;
  color: white;
  font-size: 23px;
  font-family: Hind;
  height: 55px;
  margin: 16px -6px 0px 0px;
  letter-spacing: 1px;
}
.wrapper-header span i {
  margin: 0 -3px;
}
.wrapper-header span span {
  font-size: 22px;
}
.man {
  margin: 0 auto;
  display: block;
  z-index: 3
}
.wrapper-header {
  margin: 0 auto;
  max-width: 1530px;
  width: 93.4%;
}
.wrapper-body {
  width: 1530px;
  margin: -289px auto 0 auto;
  padding-bottom: 412px;
  position: relative;
}
.wrapper-up-part {
  height: 680px;
  background-color: #F2F2F2;
}
.ion-navicon {
  line-height: 51px; 
}
.menu {
  float: left;
  padding: 12px 20px 10px 20px;
  color: white;
  border-left: 1px solid #3c3c3c;
  border-right: 1px solid #3c3c3c;
}

.nav {
  float: right;
  padding: 20px;
  display: block;
  border-color: white;
  color: white;
  border-left: 1px solid #3c3c3c;
  border-right: 1px solid #3c3c3c;
}
.new {
  max-width: 497px;
  margin: -375px 0 0 88px;
}
.new > p:first-child {
  color: white;
  font-size: 19px;
  letter-spacing: 3px;
  font-family: "OpenSansLight";
}
.new > p:last-child {
  color: white;
  margin: -6px 0 0px 0;
  font-size: 36px;
  letter-spacing: 6px;
  line-height: 48px;
  font-family: "OpenSansBold";
}
.slader {
  height: 580px;
  margin-bottom: 6px
}
.capture {
  margin: 10px;
  z-index: 4;
}
.switch > span:first-child {
  display: block;
  margin: 0px 0 14px 61px;
}
.switch {
  position: absolute;
  right: -14px;
  top: 265px;
  transform: rotate(-90deg);
  color: white;
  font-family: "OpenSansRegular";
  font-size: 13px;
  letter-spacing: 3px;
}
.arrow-up {
  color: white;
  right: 47px;
  top: 159px;
  position: absolute;
}
.arrow-down {
  color: white;
  position: absolute;
  right: 47px;
  top: 390px;
}
.checkboxes{
  margin: 0px 53px 2px 89px
}
.ion-android-checkbox-outline-blank, .ion-android-checkbox-blank{
  font-size: 0.8em;
}
.sign-up {height: 100px}
.sigup-to-newsletter {
  width: 187px;
  height: 77px;
  font-family: "OpenSansBold";
  margin: 14px 17px 0 28px;
  font-size: 22px;
  letter-spacing: 3.5px;
  line-height: 29px;
  float: left;
}
input {
  width: 449px;
  height: 49px;
  margin: 21px 0 0 26px;
  border: none;
  outline-color: #ABABAB;
  font-size: 15px;
  font-family: "OpenSansRegular";
  padding-left: 30px;
  letter-spacing: 0.8px;
}
button {
  margin: 0 0 0 27px;
  width: 282px;
  height: 49px;
  border-style: solid;
  border-width: 1px;
  background-color: #212121;
  color: #ffffff;
  font-size: 11px;
  font-family: "OpenSansRegular";
  letter-spacing: 4px;
  outline: none;
}


html {height: 100%;}

body {
  /*min-height: 100%;*/
  position: relative;
  min-width: 1638px;
  background-color: #f8f8fa;
  height: 2825px;
}
footer {
  position: absolute;
  height: 412px;
  width: 100%;
  bottom: 0;
  background-color: #202226;
  min-width: 1638px;
}

/*------------------------footer--------------------*/


/*-----------------------------hover------------------------------------*/

.menu:hover, .nav:hover, post i:hover {
  background-color: #EBEBEB;
  color: black;
  transition: 0.4s;
  cursor: pointer;
}
.ion-android-checkbox-outline-blank:hover, .ion-android-checkbox-blank:hover {
  font-size: 13px;
  transition: 0.2s;
  cursor: pointer;
}
.arrow-down:hover, .arrow-up:hover {
  cursor: pointer;
  font-size: 2.4em;
  transition: 0.1s;
}
button:hover {
  background-color: #424242;
  cursor: pointer;
}
button:active {
  transform: scale(0.99,0.99);
  background-color: #696969;
}
.post:hover {
  box-shadow: 0px 0px 23px 4px grey;
  transition: 0.2s;
}
.post a .for-border {
  border-left: 1px solid #ABABAB;
  border-right: 1px solid #ABABAB;
  padding: 9px 12px 8px 14px;
}
.post a:hover .for-border span {
  border-top: 1px solid #ABABAB;
  border-bottom: 1px solid #ABABAB;
  padding: 7px 0;
  width: 50px;
}
.post a:hover .for-border {
  border: none;
  transform: translateY(50px);
}
.post a:hover .for-border {
  color: #ABABAB
}
.column-three-third a:hover,
.post div > i:hover, .footer-main span a:hover, i:hover, .footer-sign ul.footer-links a:hover {
  color: #949494;
  cursor: pointer;
}